<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Events</servlet-name>
        <servlet-class>com.foohyfooh.lt.Events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PastEvents</servlet-name>
        <servlet-class>com.foohyfooh.lt.PastEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComingEvents</servlet-name>
        <servlet-class>com.foohyfooh.lt.ComingEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Artwork</servlet-name>
        <servlet-class>com.foohyfooh.lt.Artwork</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>/Events</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>com.foohyfooh.lt.Service</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PastEvents</servlet-name>
        <url-pattern>/PastEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComingEvents</servlet-name>
        <url-pattern>/ComingEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Artwork</servlet-name>
        <url-pattern>/artwork/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
